

.botones-container{
    margin: 10vh;
    gap: 5rem;
}

.boton-ini{
    margin-top: 30px;
    width: 40rem;
    height: 10rem;
    border-radius: 20px;
    font-family: "Heebo", sans-serif;
    font-size: 50px;
    text-align: center;
}
.link-boton {
  padding: 5%;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre ícono y texto */
}

@media(max-width:1200px){
    .botones-container{
        margin: 5vh;
    }
    .boton-ini{
        width: 20rem;
    }

}
